---
---
@import 'vars';
@import 'mixins';
@import 'base';

nav {
	li.disabled a {
		opacity:.3;
	}
}



#titleBar .toggle:before{
	font-family: FontAwesome;
}

body #titleBar,
body #titleBar .toggle:before{
	background: #012B4C;
}


article {

	h2 {
		margin-bottom:0;
	}
	h3 {
		font-size:17px;
		opacity:.7;
		text-transform: uppercase;
		margin-bottom:20px;
	}
}