<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Pieter Willekens</a></h1>
            <p>Developer<br />
            and drummer too.</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li title="Coming soon" class="disabled"><a href="{{ site.baseurl }}/#">Blog</a></li>
                <li title="Coming soon" class="disabled"><a href="{{ site.baseurl }}/#">Portfolio</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://twitter.com/{{site.twitter_username}}" class="icon fa fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://github.com/{{site.github_username}}" class="icon fa fa-github"><span class="label">Github</span></a></li>
                <li><a href="https://stackoverflow.com/users/3173382/pataar" class="icon fa fa-stack-overflow"><span class="label">Stack Overflow</span></a></li>
                <li><a href="https://www.last.fm/user/{{site.lastfm_username}}" class="icon fa fa-lastfm"><span class="label">last.fm</span></a></li>
                <li><a href="https://www.trakt.tv/user/{{site.trakt_username}}" class="icon fa fa-film"><span class="label">trakt.tv</span></a></li>
                <li><a href="#" class="icon fa fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

