// Duration.
	$duration-transition:		0.2s !default;

// Side.
	// Change this to 'left' to move the header sidebar to the left-hand side
	// of the viewport. Note that if you do this, be sure to also change
	// sidePanel's 'side' in js/init.js.
	$side-header:				'right' !default;

// Size.
	$size-border-radius:		5px !default;
	$size-border-width:			2px !default;
	$size-element-height:		2.75em !default;
	$size-element-margin:		2.25em !default;

// Font.
	$font-family:				'Lato', sans-serif !default;
	$font-family-fixed:			'Source Code Pro', monospace !default;
	$font-weight:				400 !default;
	$font-weight-bold:			700 !default;

// Color.
	$color-bg:					#fff !default;
	$color-fg:					#888 !default;
	$color-fg-bold:				#777 !default;	
	$color-fg-light:			#aaa !default;

	$color-accent-bg:           #012B4C !default;
	$color-accent-fg-bold:		#ffffff !default;
	$color-accent-fg:			mix($color-accent-bg, $color-accent-fg-bold, 25%) !default;
	$color-accent-fg-light:		mix($color-accent-bg, $color-accent-fg-bold, 40%) !default;

	$color-accent2-bg:			#989898 !default;
	$color-accent2-fg-bold:		#ffffff !default;
	$color-accent2-fg:			mix($color-accent2-bg, $color-accent2-fg-bold, 25%) !default;
	$color-accent2-fg-light:	mix($color-accent2-bg, $color-accent2-fg-bold, 40%) !default;

	$color-border:				#f4f4f4 !default;
	$color-border-bg:			#fafafa !default;

	$color-border2:				#e4e4e4 !default;
	$color-border2-bg:			#f4f4f4 !default;
	
	$color-border3:				#e0e0e0 !default;
	$color-border3-bg:			#eaeaea !default;
	
	$color-header-bg:			$color-accent-bg !default;
	$color-header-fg-bold:		$color-accent-fg-bold !default;
	$color-header-fg:			mix($color-header-bg, $color-header-fg-bold, 25%) !default;
	$color-header-fg-light:		mix($color-header-bg, $color-header-fg-bold, 40%) !default;
	$color-header-border:		mix($color-header-bg, $color-header-fg-bold, 90%) !default;